{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url( ' {{ url_for('static',filename='img/about-bg.jpg') }}' )">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Qliksense</h1>
            <span class="subheading">Qliksene object integration using mashup.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div>
    <iframe src='http://localhost:4848/extensions/First_Mashup/First_Mashup.html' style='border:none;width:100%;height:100%;margin-left:auto;margin-right:auto;'></iframe>
  </div>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Qilksense Mashup Learning</p>
      </div>
    </div>
  </div>
  {% endblock %}